@{
    ViewBag.Title = "View1";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>View1</h2>
<a href="#id1" data-toggle="collapse">1</a>
<button data-toggle="collapse" data-target="#id1"></button>
<div class="collapse" id="id1">
    privet
</div>
@section scripts{
    
@*<script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@
    }