@model ITCV.Models.Views.CV
<div id="OtherCerts" ng-controller="PersonalDataController">
    <div class="sidebar">
        <h4>Текущий статус раздела: </h4>
        <hr />
        <span class="notice">
            Введите дополнительную информацию по вашему желанию. Данная информация не обязательна, но будет плюсом при рассмотрении вашего резюме.
        </span>
    </div>
    
    <div style="padding-left: 15px">
        <h4>Дополнительная информация: </h4>
        <hr />
        
        @Html.TextAreaFor(m => m.OtherInfo, new { ng_model = "cv.OtherInfo", rows = "7", cols = "50" })<br />
        
    </div>
</div>